#containerApp {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #007468, #06ffe6 );
    background-color: #06ffe6;
    display: flex;
    justify-content: center;
    align-items: center;
}


#app {
    margin: 0 auto;
    width: 80%;
    height: 70%;
    background-color: white;
}

/* section messaggistica */

 /* avatar utente  e contatti*/
 #contatti{
    height: 90%;
}

 .contatto img,
 #avatar img,
 #contattoChatAperta img{
     background-color: white;
     width: 60px;
     height: 60px;
     border-radius: 50%;
 }

 #avatar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    cursor: pointer;
 }
 
 #avatar h4{
    margin-left: 20px;
 }

 #avatar:first-child div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }

 #iconAvatar i{
    cursor: pointer;
    color: #b1b1b1;
    margin-right: 20px;
    font-size: 22px;
 }

/* cerca */
#cercaContatto{
    width: 90%;
    border: none;
    height: 50px;
    background-image: url(img/lens.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:  20px;
    text-align: center;
}

#cercaContatto:focus {
    background-image: none;
}

 /* contatti */
 #contenutoContatti{
    overflow-y: scroll;
    overflow-x: hidden;
    height:70vh;
 }

.contatto{
    min-height:70px;
    border-top: 1px solid #ccc;
}

.contatto:after{
    content: "";
    display: table;
    clear: both;
}

.avatarContatto, .nameMsg {
    float: left;
}

.nameMsg {
    margin-left: 20px;
    max-width: 50%;
}

.contatto .orarioLastMsg{
    color: #b1b1b1;
    font-size: 12px;
    margin-right: 10px;
    float: right;
}

/* notifiche */

#notifiche {
    background-color: #8edafc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    height: 80px;
    margin-left: -12px;
}

#notifiche .fas {
    font-size: 20px;
    color: #8edafc;
    background-color: white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 15px;
}

#notifiche h5{
    font-size: 15px;
    font-weight: bold;
}

#notifiche a{
    color: rgb(100, 100, 100);
}

/* section messaggistica */

#messaggi {
    background-image: url(img/sfondo.jpg);
    background-size: cover;
}

#contattoChatAperta{
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#chatAperta{
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 140px);
}

#nomeChatAperta{
    min-width: 50%;
    margin-left: 20px;
}

#iconChatAperta .fas{
    cursor: pointer;
    color: #b1b1b1;
    margin-right: 10px;
    font-size: 22px;
}


#iconChatAperta img{
    color: #b1b1b1;
    width: 20px;
}

#rispondi{
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rispondi input {
    width: 75%;
    border: none;
}

#rispondi .fas {
    color: #6b7376;
    font-size: 20px;}


.active{
    background-color: #d3effc;
    }

.msg{
    border-radius: 20px;
    margin: 5px 30px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
}

.msgInviati{
    background-color: #d5f9ba;
    align-self: flex-end;
}

#chatAperta span {
    color: #b1b1b1;
    font-size: 10px;
    align-self: flex-end;
    margin-top: 10px;
}


.informazioniMess{
    border: 1px solid black;
    background-color: rgba(255, 255, 255);
    cursor: pointer;
    position: absolute;
    right: 20px;
    padding: 20px;
    z-index: 10;
}

.none {
    display: none;
}


.last-msg {
    font-size: 12px;
}
